{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="background">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-white">The new collections are here</h1>
                <div class="my-5">
                    <h2>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <a href="#section-2">
        <div class="scroll-down"></div>
    </a>
    
    <!-- Page header-->
    <div class="d-flex justify-content-center py-3 text-white bg-effect" id="section-2">
        <h3>Welcome to Winpea!</h3>
    </div>
    <div class="about-section text-black py-3">
        <div id="brand-ethos">
            <!--Left side panel-->
            <div id="left-about">
                <div class="left-about-heading">
                    <h2>Why us <i class="fa-solid fa-thumbs-up"></i></h2>
                    <hr>
                    <p>
                    At Winpea we work to ensure our products are of the highest quality.
                    We strive to make our range available to all with our 4 free brand concept.
                    All of our designs are original but take inspiration from a range of cultures across the globe.
                    </p>
                </div>
            </div>
            <!--Right side panel-->
            <div id="right-about">
                <div class="right-about-heading">
                    <h2>Delivery & Shipping <i class="fa-solid fa-truck-fast"></i></h2>
                    <hr>
                    <p>
                    We offer worldwide shipping with courier services being provided for each respective country we are able to deliver to.
                    This process can takes 3-5 business days for Domestic delivery (inside Japan) and up to 2 weeks for International
                    delivery.
                    </p>
                </div>
            </div>
            <!--Center panel-->
            <div id="center-about">
                <div id="circle-container">
                    <div id="circle-cover-bg">
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
{% endblock %}