{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid background">
        <div class="row pt-5">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-black">Welcome to the world of Winpea...</h1>
                <div class="my-5">
                    <h2>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <a href="#section-2" aria-label="section-2">
        <div class="scroll-down"></div>
    </a>
    
    <!-- Page header-->
    <div class="d-flex justify-content-center py-3 text-white bg-effect" id="section-2">
        <h3>All about us at Winpea!</h3>
    </div>
    <div class="about-section text-black py-3">
        <div id="brand-ethos">
            <!--Left side panel-->
            <div id="left-about">
                <div class="left-about-heading">
                    <h2>Why us <i class="fa-solid fa-thumbs-up"></i></h2>
                    <hr>
                    <p>
                    At Winpea we work to ensure our products are of the highest quality.
                    We strive to make our range available to all with our 4 free brand concept.
                    All of our designs are original but take inspiration from a range of cultures across the globe.
                    </p>
                </div>
            </div>
            <!--Right side panel-->
            <div id="right-about">
                <div class="right-about-heading">
                    <h2>Delivery & Shipping <i class="fa-solid fa-truck-fast"></i></h2>
                    <hr>
                    <p>
                    We offer worldwide shipping with courier services being provided for each respective country we are able to deliver to.
                    This process can takes 3-5 business days for Domestic delivery (inside Japan) and up to 2 weeks for International
                    delivery.
                    </p>
                </div>
            </div>
            <!--Center panel-->
            <div class="mb-5" id="center-about">
                <div id="circle-container">
                    <div id="circle-cover-bg">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Meet the team title-->
    <div class="d-flex justify-content-center py-3 row ps-4 text-white bg-effect" id="section-3">
        <h3>Meet the team!</h3>
    </div>
            <!--Meet the team section -->
            <div class="circle-left d-flex row align-items-center my-5 gx-0">
              
            <div class="col-md-6 col-lg-4 p-5 circle">
                <div>
                    <!--Image for Fuka Hazelwood-->
                <img src="{{MEDIA_URL}}/fuka-meet-team.jpg" alt="photo of Fuka Hazelwood">
                </div>
            </div>
            <!--Text for Fuka Hazelwood section-->
            <div class="col-md-6 col-lg-8 allign-items-center meet-profile">
                <h3 class="ps-4 text-black">
                Fuka Hazelwood
                <br>
                Brand Owner
                </h3>
                <p>
                Meet Fuka, the creator of the Winpea brand.
                </p>
            </div>
        </div>
        <hr>
        <div class="circle-left d-flex row align-items-center my-5 gx-0">
            <div class="col-md-6 col-lg-4 p-5 circle">
            <div>
                <!--Image for Momoka Sakaji-->
            <img src="{{MEDIA_URL}}/momo-meet-team.png"  alt="photo of Momoka Sakaji">
            </div>
        </div>
        <!--Text for Momoka Sakaji section-->
        <div class="col-md-6 col-lg-8 align-items-center meet-profile">
            <h3 class="ps-4 text-black">
            Momoka Sakaji
            <br>
            Co-Owner
            </h3>
            <p>
            Meet Momo, the co-owner of Winpea.
            </p>
        </div>
    </div>
        <hr>
        <div class="circle-left d-flex row align-items-center my-5 gx-0">
            <div class="col-md-6 col-lg-4 p-5 circle">
            <div>
                <!--Image for Lewis Hazelwood-->
            <img src="{{MEDIA_URL}}/lewis-hazelwood.jpg" alt="photo of Lewis Hazelwood">
            </div>
        </div>
        <!--Text for Lewis Hazelwood section-->
        <div class="col-md-6 col-lg-8 align-items-center meet-profile">
            <h3 class="ps-4 text-black">
            Lewis Hazelwood
            <br>
            Website Developer
            </h3>
            <p>
            Meet Lewis, the engineer for the site.
            </p>
        </div>
    </div>

{% endblock %}


