<!-- Main nav bar-->
<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <!-- Mobile only view for home button -->
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <!-- book a slot -->
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'visit_store' %}">
                Book
            </a>
        </li>
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'booking_list' %}">My Bookings</a>
          </li>
          {% endif %}
        <!-- blog -->
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'blog' %}">
                Blog
            </a>
        </li>
        <!-- Dropdown nav for product filters & all products -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>
        <!-- Dropdown nav for bags -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="bags-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bags
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="bags-link">
                <a href="{% url 'products' %}?category=Tote" class="dropdown-item">Tote</a>
                <a href="{% url 'products' %}?category=Crossbody" class="dropdown-item">Crossbody</a>
                <a href="{% url 'products' %}?category=Shoulder" class="dropdown-item">Shoulder</a>
                <a href="{% url 'products' %}?category=Mini" class="dropdown-item">Mini</a>
                <a href="{% url 'products' %}?category=Tote,Crossbody,Shoulder,Mini" class="dropdown-item">All Bags</a>
            </div>
        </li>
        <!-- Drodown nav for jewellery -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="jewellery-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Jewellery
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="jewellery-link">
                <a href="{% url 'products' %}?category=Rings" class="dropdown-item">Rings</a>
                <a href="{% url 'products' %}?category=Necklaces" class="dropdown-item">Necklaces</a>
                <a href="{% url 'products' %}?category=Bracelets" class="dropdown-item">Bracelets</a>
                <a href="{% url 'products' %}?category=Rings,Necklaces,Bracelets" class="dropdown-item">All Jewellery</a>
            </div>
        </li>
        <!-- Dropdown nav for specials -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=New Arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=Deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=Clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=New Arrivals,Deals,Clearance" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>